<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heute</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    
  </head>

  <body>
    
    <div class="row">
      <div class="row float-right">
        <%= image_tag 'flixbus-logo.jpg' %>
          </div>
            <div class="clearfix">
             </div>
               <%= render 'layouts/top_bar' %>
                  <div class="row">
                    <%= render 'layouts/flash_messages' %>
                      <div class="medium-3 columns">
                        <%= render 'layouts/side_bar' %>
                          </div>
                            <div class="medium-9 columns">
                               <%= yield %>
                                </div>
                                  </div>

    </div>
  </body>
</html>
